<mat-card class="container">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tools</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display:flex; flex-direction: column; justify-content: center;">
        <button mat-raised-button color="primary" class="control">Import from Excel</button>
        <button mat-raised-button color="primary" class="control">Export to Excel</button>
        <button mat-raised-button color="primary" class="control">Generate monthly report</button>
    </mat-card-content>
</mat-card>