<mat-card class="tarjeta">
    <mat-card-header class="mat-card-header">
       <mat-card-title>Login</mat-card-title> 
    </mat-card-header>
    <mat-card-content>
        <div [formGroup]="formGroup">
            <mat-form-field class="control-style">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Ej:user@bairesdev.com" formControlName="usuario">
            </mat-form-field>
            
            <mat-form-field class="control-style">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="botonera">
            <button mat-raised-button color="primary" id="ingresar" (click)="login()">Ingresar</button>
        </div>
      </mat-card-actions>
</mat-card>

